*.csv

/masked_data/
/temp/
/logs/
/secret_folder/
/check/
/ModernBERT-domain-classifier/
/ModernBERT-domain-classifier_local/
/ModernBERT-domain-classifier_local_tokenizer/
/modernbert_text_classification/
/new_data/
/embeddings/
/context/
/models_knn/

.env
.DS_Store
node_modules/
__pycache__/
*.log
*.tmp
test_cases.ipynb
test.py
*.npy
save_dataset_b.py
