*.csv

/masked_data/
/temp/
/logs/
/secret_folder/
/check/
/ModernBERT-domain-classifier/
/ModernBERT-domain-classifier_local/
/ModernBERT-domain-classifier_local_tokenizer/
/modernbert_text_classification/
/new_data/
/embeddings/
/context/
/models_knn/
/models_knn_test/
/models_knn_tox/
/models_knn_tox_refactored/
/modernbert_ensemble/
/term_embeddings/
/errors/
/results/
/unsloth_compiled_cache/
/data/
/outputs/1_preprocessed/
/outputs/2_embeddings/
/outputs/3_training/
/outputs/4_evaluation/

.env
.DS_Store
node_modules/
__pycache__/
*.log
*.tmp
*.png
test_cases.ipynb
test.py
*.npy
*.zip
save_dataset_b.py
